.home{
    margin: 0 auto;
}

.deskTopSize, .mobileSize{
    display: none;
    width: 100%;
    height: auto;
}

.home-featuredfont{
    display: flex;
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
}

@media screen and (min-width: 811px){
    .deskTopSize{
        display: block;
    }

    .clublist-row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .home-list{
        max-width: 1100px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 810px){

    .mobileSize{
        display: flex;
        margin: 0 auto;
    }

    .clublist-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

}
