.club-home {
    margin: 130px 0;
    padding: 0;
}

.club-deskTopSize, .club-mobileSize {
    display: none;
    width: 100%;
    height: auto;
}
.club-home-list{
    gap: 10px;
}
.club-home-featuredfont {
    display: flex;
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
}

.club-deskTopSize {
    display: block;
}

.club-clublist-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.club-home-list {
    max-width: 1100px;
    margin: 0 auto;
}
