@media screen and (max-width: 810px){
    .bottom-nav-body {
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: #fff;
        border-top: 1px solid lightgray;
        padding-bottom: 0px;
    }

    .bottom-nav-body > .item-bn, .mp-bn, .home-bn, .like-bn, .search-bn, .admin-bn {
        padding: 8px 20px;
        text-align: center;
        flex: 1;
        font-size: 12px;
    }
    .item-bn:hover, .mp-bn:hover, .home-bn:hover, .like-bn:hover, .search-bn:hover, .admin-bn:hover{
        color: #ff5723;
    }

}
@media screen and (min-width: 811px){
    .bottom-nav-body{
        display: none;
    }
}
