.club-header-body {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;
}

.club-header {
    display: flex;
    max-width: 100vw;
    padding: 5px 20px 10px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.club-top-nav {
    display: flex;
    justify-content: flex-end;
    max-width: 100vw;
    padding: 5px 0px;
    font-size: small;
    align-items: center;
    background-color: transparent;
}

.club-top-nav p {
    padding: 5px;
    margin: 0;
    font-size: 0.7rem;
}

.club-topnav-hello {
    padding-right: 15px;
}

.club-header>div {
    display: flex;
    gap: 20px;
    vertical-align: baseline;
    align-items: center;
}

.club-header-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.club-wishlisticon {
    display: flex;
    cursor: pointer;
}

.club-left-nav {
    font-size: 0.8rem;
}

.club-category {
    cursor: pointer;
}

@media screen and (max-width: 810px) {
    .club-header {
        margin: 0 auto;
        justify-content: space-between;
        padding: 15px 10px;
    }

    .club-category, .club-top-nav, .club-wishlisticon {
        display: none;
    }
}
