.clublist-body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 20px; /* 각 clublist 사이의 간격 */
    padding-top: 50px;
}

.clublist {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    text-align: start;
    width: 100%;
    max-width: 235px;
    cursor: pointer;
    transition: transform 0.3s;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

.clublist:hover {
    transform: scale(1.05);
}

.clublist-text {
    margin-top: 5px;
}

.clublist h5 {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.clublist-img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 810px) {
    .clublist-body {
        padding-top: 10px;
    }
}
