.adminpage-body{
    max-width: 1000px;
    margin: 135px auto;
    padding: 20px 100px;
}
.admin-list{
    margin-top: 40px;
}
@media screen and (min-width: 811px){
    .mypage-admin{
        display: none;
    }
}
