.mypage-body{
    max-width: 900px;
    margin: 135px auto;
    padding: 20px 100px;
}

.mypage-list{
    gap: 20px;
}
.iminclub{
    margin-top: 30px;
}
.myclub-menu{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 20px 0px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.mc-control{
    width: 150px;
    text-align: center;

}
.mc-control:hover{
    color: #ffa733;
    cursor: pointer;
}
.myclub-menu p{
    padding: 5px;

}
.myorder-table{
    width: 100%;
    padding: 15px;
}
.myorder-thead th{
    padding: 12px;
    border-bottom: 1px solid lightgray;
}
.myorder-info td{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}
.mypage-menu-list{
    display: flex;
    flex-direction: column;
}
.mypage-menu:hover{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.myclub-empty{
    font-size: 0.8rem;
    color: gray;
}
@media screen and (min-width: 811px){
    .mypage-logout{
        display: none;
    }
}

.myclub {
    display: flex;
    margin-bottom: 70px;
}

.myclub div {
    margin: 10px 10px;
    cursor: pointer;
}
.mypage-list-bt{
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px 0px;
    width: 150px;
    cursor: pointer;
    color: black;
    font-size: 0.85rem;
    align-items: center;
    text-align: center;
}
.mypage-list-bts{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.mypage-list-bt:hover{
    background-color: black;
    color: white;
}

.myclub-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.review-nav:hover {
    text-decoration: underline;
}