.App{
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    margin: 0px;
}
body{
    margin: o;
}
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
